<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title">
                  Association for Social Advancement (ASA)
                </div>
                <div class="h6 mt-0 title">
                  Assistant Software Engineer (October, 2021 - Present)
                </div>
                <p align="justify">
                  The non-governmental organisation based in Bangladesh which
                  provides microcredit financing.
                </p>
                <p align="justify">
                  Worknig as Software Engineer for microfinance team
                </p>
                <li class="list">JOB RESPONSIBILITIES</li>
                <ul>
                    <div class="row">
                      <div class="col-md">
                        <li class="non_list" align="justify">
                          Make all API for Motor Loan Service in .Net.
                        </li>
                        <li class="non_list" align="justify">
                            Developed microfinance software's.
                        </li>
                      </div>
                    </div>
                  </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">Confluence</li>
                        <li class="non_list">.Net</li>
                        <li class="non_list">C#</li>
                        <li class="non_list">MSSQL</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Android</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title">CTrends Software & Services Ltd</div>
                <div class="h6 mt-0 title">
                  Programmer (January, 2021 - September, 2021)
                </div>
                <li class="list">JOB RESPONSIBILITIES</li>
                <ul>
                  <div class="row">
                    <div class="col-md">
                      <li class="non_list" align="justify">
                        Enable caching for better performance and optimize API
                        services in Spring boot.
                      </li>
                      <li class="non_list" align="justify">
                        Developed mobile application android in Flutter using
                        Dart.
                      </li>
                      <li class="non_list" align="justify">
                        Working on UI design using HTML, CSS, and Javascript for
                        various mobile application projects.
                      </li>
                      <li class="non_list" align="justify">
                        Revamping the application user interface using jQuery,
                        Ajax, Bootstrap to significantly improve the user
                        experience
                      </li>
                      <li class="non_list" align="justify">
                        Developing the components and providers for Rest API
                        calls, to fetch, and store data.
                      </li>
                      <li class="non_list" align="justify">
                        Expertise in working with various J2EE technologies
                        including Hibernate, Struts MVC Framework, AJAX, WEB
                        SERVICES, and MAVEN.
                      </li>
                      <li class="non_list" align="justify">
                        Implemented REST Microservices using spring boot.
                      </li>
                      <li class="non_list" align="justify">
                        Implemented DAOs, entities using Hibernate API and
                        Hibernate QL.
                      </li>
                      <li class="non_list" align="justify">
                        Followed the Java coding standards for scalability,
                        reusability, and ease of maintenance.
                      </li>
                      <li class="non_list" align="justify">
                        Designed and developed RESTful service interface using
                        Spring MVC.
                      </li>
                      <li class="non_list" align="justify">
                        Develop and manage all APIs like KYC, LOG, GIS.
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">Hibernate</li>
                        <li class="non_list">Maven</li>
                        <li class="non_list">PostgreSQL</li>
                        <li class="non_list">Dart</li>
                        <li class="non_list">Flutter</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title">naztech Inc Ltd</div>
                <div class="h6 mt-0 title">
                  Junior Software Developer (February, 2019 - December, 2020)
                </div>
                <li class="list">JOB RESPONSIBILITIES</li>
                <ul>
                  <div class="row">
                    <div class="col-md">
                      <li class="non_list" align="justify">
                        Implementing SDLC policies and procedures.
                      </li>
                      <li class="non_list" align="justify">
                        Designing, coding, and debugging the applications.
                      </li>
                      <li class="non_list" align="justify">
                        Working knowledge of object-oriented design and
                        development skills.
                      </li>
                      <li class="non_list" align="justify">
                        Attending daily scrum meetings and following an Agile
                        methodology.
                      </li>
                      <li class="non_list" align="justify">
                        Designing, developing, and optimizing the MySQL database
                        tables Stored Procedures, Function, Trigger, Views.
                      </li>
                      <li class="non_list" align="justify">
                        Experience in both Windows and Linux.
                      </li>
                      <li class="non_list" align="justify">
                        Experience with the following Version Control Git,
                        GitHub, GitLab, and SourceTree.
                      </li>
                      <li class="non_list" align="justify">
                        Analyze customer needs, design, and build solutions with
                        ERP system HR module.
                      </li>
                      <li class="non_list" align="justify">
                        Integrating software with existing systems (like RFID
                        attendance ZKTeco device).
                      </li>
                      <li class="non_list" align="justify">
                        Scrap many job sites to get data and store it in the MS
                        SQL database.
                      </li>
                      <li class="non_list" align="justify">
                        Using Grafana dashboard tools for database analytical
                        and visualization reports.
                      </li>
                      <li class="non_list" align="justify">
                        Using the Jinja template for print reports.
                      </li>
                      <li class="non_list" align="justify">
                        Release Maintenance Preparation and Deployment on the
                        servers.
                      </li>
                      <li class="non_list" align="justify">
                        Fixing deployment issues with restructured code.
                      </li>
                      <li class="non_list" align="justify">
                        Provided weekly status reports to the manager with the
                        latest information on all ongoing activities.
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">ERP Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">Hibernate</li>
                        <li class="non_list">Maven</li>
                        <li class="non_list">MSSQL</li>
                        <li class="non_list">ERPNext</li>
                        <li class="non_list">Frappe</li>
                        <li class="non_list">Python</li>
                        <li class="non_list">MySQL</li>
                        <li class="non_list">Agile</li>
                        <li class="non_list">SDLC</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
