<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014-2018</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Bachelor of Engineering</div>
            <h4 class="category">East West University</h4>
            <span
              >Jahurul Islam City Gate, A/2 Jahurul Islam Ave, Dhaka 1212 in
              Bangladesh</span
            >
            <ul>
              <li>
                Completed BSc in Computer Science and Engineering with
                <b>2.64 CGPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2011-2013</p>
            <div class="h5">HSC</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Higher Secondary School Certificate</div>
            <h4 class="category">BCIC College</h4>
            <ul>
              <li>
                Completed <b>HSC</b> in <b>Science</b> with <b>4.70 GPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2009-2011</p>
            <div class="h5">SSC</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School Certificate</div>
            <h4 class="category">Mirpur GOVT High School</h4>
            <ul>
              <li>
                Completed <b>HSC</b> in <b>Science</b> with <b>4.69 GPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
