<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Trainnig Certifications</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <div class="h5 mt-0 title">Dot Net Training Program</div>
            <div class="h6 mt-0 title">
              LICT Top Up IT, NASSCOM IT-ITES Sector Skill Council (SSC)
              Certification , 2017.
            </div>
            <ul>
              <div class="row">
                <div class="col-md">
                  <li class="non_list">Time Duration: 4 months.</li>
                  <li class="non_list">Course Cover: C#, SQL, Asp.Net.</li>
                  <li class="non_list">Training name: Top-up IT Training.</li>
                  <li class="non_list">
                    Institute: Leveraging ICT for Growth, Employment, and
                    Governance (LICT) Project of Bangladesh Computer Council
                    (BCC).
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <div class="h5 mt-0 title">Web Development-PHP</div>
            <div class="h6 mt-0 title">
                BITM Academy (BASIS Institute of Technology and Management) , 2016.
            </div>
            <ul>
              <div class="row">
                <div class="col-md">
                  <li class="non_list">Time Duration: 3 months.</li>
                  <li class="non_list">Course Cover: Php MySQL, HTML, CSS.</li>
                  <li class="non_list">Training name: BITM SEIP Trainnig.</li>
                  <li class="non_list">
                    Institute: BITM Academy (BASIS Institute of Technology and Management).
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <div class="h5 mt-0 title">Graphic Design</div>
            <div class="h6 mt-0 title">
                Bangladesh - Korea Technical Training Center , 2013.
            </div>
            <ul>
              <div class="row">
                <div class="col-md">
                  <li class="non_list">Time Duration: 6 months.</li>
                  <li class="non_list">Course Cover: Adobe Illustrator, Adobe Photoshop.</li>
                  <li class="non_list">Training name: SEIP Training.</li>
                  <li class="non_list">
                    Institute: Bangladesh - Korea Technical Training Center.
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
